[Desktop Entry]
Version=4.4
Name=Crystal
Comment=Crystal
Exec=java -jar /home/vagrant/Desktop/Crystal.jar 
Type=Application
Terminal=false
NoDisplay=false
Categories=Development
