[Desktop Entry]
Encoding=UTF-8
Name=Link to Crystal Tool
Type=Link
URL=http://youtu.be/W1CfXfkTL7M?hd=1
Icon=text-html
Name[en_US]=Crystal - Video Demo 
